/* ===========================
   FONTS
   =========================== */

/* rubik-300 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/rubik-v31-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-regular - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/rubik-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-500 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/rubik-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* ===========================
   RESET
   =========================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}
      
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}
      
a {
    text-decoration: none;
    color: inherit;
}
      
ul,
ol {
    list-style-type: none;
}
      
/* ===========================
       CSS VARIABLES
   =========================== */
      
:root {
      
    /* Primary */

    --purple-600: hsl(246, 80%, 60%);
    
    --orange-300-work: hsl(15, 100%, 70%);
    --blue-300-play: hsl(195, 74%, 62%);
    --pink-400-study: hsl(348, 100%, 68%);
    --green-400-exercise: hsl(145, 58%, 55%);
    --purple-700-social: hsl(264, 64%, 52%);
    --yellow-300-self-care: hsl(43, 84%, 65%);
    
    /* Neutral */
    
    --navy-950: hsl(226, 43%, 10%);
    --navy-900: hsl(236, 45%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);
    
    /* Typography */

    --font-base: 'Rubik', sans-serif;
}
   
/* ===========================
      BASE
   =========================== */
   
body {
    font-family: var(--font-base);
    color: white;
    font-size: 18px;
    background-color: var(--navy-950);
}

/* ===========================
   LAYOUT & ELEMENTS
   =========================== */

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    row-gap: 26px;
    margin: 81px auto;
    max-width: 326px;
}

.report,
.work,
.play,
.study,
.exercise,
.social,
.self-care {
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    padding-top: 38px;
}

.report {
    background-color: var(--navy-900);
    padding: 0;
}

.report__header {
    background-color: var(--purple-600);
    padding: 32px 30px 36px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 14px;
}

.report__image {
    max-width: 68px;
    max-height: 68px;
    border-radius: 50%;
    border: 3px solid white;
}

.report__text {
    font-size: 15px;
    color: var(--navy-200);
    margin-bottom: 2px;
}

.report__user {
    font-size: 24px;
    font-weight: 300;
}

.report__tabs {
    display: flex;
    justify-content: space-between;
    padding: 18px 20px 25px 34px;
}

.report__daily,
.report__weekly,
.report__monthly {
    cursor: pointer;
}

.report__weekly {
    padding-left: 8px;
}

.work__group,
.play__group,
.study__group,
.exercise__group,
.social__group,
.self-care__group {
    background-color: var(--navy-900);
    border-radius: 14px;
    position: relative;
    z-index: 1;
    padding: 26px 22px 28px 27px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.work__header,
.work__main,
.play__header,
.play__main,
.study__header,
.study__main,
.exercise__header,
.exercise__main,
.social__header,
.social__main,
.self-care__header,
.self-care__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work__heading, 
.play__heading,
.study__heading,
.exercise__heading,
.social__heading,
.self-care__heading {
    font-size: 18px;
    font-weight: 500;
}

.work__icon-more,
.play__icon-more,
.study__icon-more,
.exercise__icon-more,
.social__icon-more,
.self-care__icon-more {
    width: 21px;
    height: 5px;
}

.work__daily-current,
.work__weekly-current,
.work__monthly-current
.play__daily-current,
.play__weekly-current,
.play__monthly-current,
.study__daily-current,
.study__weekly-current,
.study__monthly-current,
.exercise__daily-current,
.exercise__weekly-current,
.exercise__monthly-current,
.social__daily-current,
.social__weekly-current,
.social__monthly-current,
.self-care__daily-current,
.self-care__weekly-current,
.self-care__monthly-current {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.05em;
}

.work__daily-previous,
.work__weekly-previous,
.work__monthly-previous,
.play__daily-previous,
.play__weekly-previous,
.play__monthly-previous,
.study__daily-previous,
.study__weekly-previous,
.study__monthly-previous,
.exercise__daily-previous,
.exercise__weekly-previous,
.exercise__monthly-previous,
.social__daily-previous,
.social__weekly-previous,
.social__monthly-previous,
.self-care__daily-previous,
.self-care__weekly-previous,
.self-care__monthly-previous {
    font-size: 16px;
    color: var(--navy-200);
    letter-spacing: -0.03em;
}

.work__daily-current,
.work__daily-previous,
.work__monthly-current,
.work__monthly-previous,
.play__daily-current,
.play__daily-previous,
.play__monthly-current,
.play__monthly-previous,
.study__daily-current,
.study__daily-previous,
.study__monthly-current,
.study__monthly-previous,
.exercise__daily-current,
.exercise__daily-previous,
.exercise__monthly-current,
.exercise__monthly-previous,
.social__daily-current,
.social__daily-previous,
.social__monthly-current,
.social__monthly-previous,
.self-care__daily-current,
.self-care__daily-previous,
.self-care__monthly-current,
.self-care__monthly-previous {
    display: none;
}

.work {
    /* background-color: var(--orange-300-work); */
    background: var(--navy-900);
    background: linear-gradient(0deg, var(--navy-900) 69%, var(--orange-300-work) 69%);
}

.work__image {
    position: absolute;
    top: -8px;
    right: 16px;
}

.play {
    background: var(--navy-900);
    background: linear-gradient(0deg, var(--navy-900) 69%, var(--blue-300-play) 69%);
}

.play__image {
    position: absolute;
    top: -4px;
    right: 21px;
}

.study {
    background: var(--navy-900);
    background: linear-gradient(0deg, var(--navy-900) 69%, var(--pink-400-study) 69%);
}

.study__image {
    position: absolute;
    top: -5px;
    right: 17px;
}

.exercise {
    background: var(--navy-900);
    background: linear-gradient(0deg, var(--navy-900) 69%, var(--green-400-exercise) 69%);
}

.exercise__image {
    position: absolute;
    top: -1px;
    right: 17px;
}

.social {
    background: var(--navy-900);
    background: linear-gradient(0deg, var(--navy-900) 69%, var(--purple-700-social) 69%);
}

.social__image {
    position: absolute;
    top: -9px;
    right: 19px;
}

.self-care {
    background: var(--navy-900);
    background: linear-gradient(0deg, var(--navy-900) 69%, var(--yellow-300-self-care) 69%);
}

.self-care__image {
    position: absolute;
    top: -10px;
    right: 16px;
}

.footer__attribution { 
    font-size: 11px; 
    text-align: center; 
}

.footer__attribution-link { 
    color: hsl(228, 45%, 44%); 
}
